<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caipiao.dao.CurrentDataMapper" >
  <resultMap id="BaseResultMap" type="com.caipiao.pojo.CurrentData" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EXPECT" property="expect" jdbcType="VARCHAR" />
    <result column="OPEN_CODE" property="openCode" jdbcType="VARCHAR" />
    <result column="OPEN_TIME" property="openTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIED_TIME" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>


	<resultMap id="BaseResultMapVO" type="com.caipiao.vo.CurrentVO" extends="BaseResultMap">
    	<result column="NUM" property="num" jdbcType="INTEGER" />
    </resultMap>
  <select id="queryToDataOne" resultMap="BaseResultMapVO" parameterType="int" >
    select DISTINCT EXPECT, OPEN_CODE, OPEN_TIME
    from current_data
    ORDER BY OPEN_TIME desc LIMIT #{num}
  </select>
  
  <select id="queryLimitMore" resultMap="BaseResultMapVO" parameterType="int" >
    select DISTINCT EXPECT, OPEN_CODE, OPEN_TIME
    from current_data
    ORDER BY OPEN_TIME desc LIMIT #{num}
  </select>
  
  <select id="queryAll" resultMap="BaseResultMapVO">
    select DISTINCT EXPECT, OPEN_CODE, OPEN_TIME
    from current_data
    ORDER BY OPEN_TIME desc 
  </select>
  
  
</mapper>