<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caipiao.dao.HotWaterDigitalMapper" >
  <insert id="create" parameterType="java.util.List" >
    insert into hot_water_digital (
   	  EXPECT_TWO_LAST,
   	  OPEN_CODE_TWO_LAST,
   	  MODIFIED_TIME
      )
    values 
    <foreach collection ="list" item="hotWaterDigital" index= "index" separator =","> 
      (
      #{hotWaterDigital.expectTwoLast}, 
      #{hotWaterDigital.openCodeTwoLast},
      now()
      )
    </foreach>
  </insert>
</mapper>